// *******************************************
// *******************************************

    // User chip components

// *******************************************
// *******************************************

.user-chip {
    display     : flex;
    align-items : center;
}

.user-chip__content {
    padding : rem-calc(0 10);
}
