.ui-kit__icons-page__icon-container {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
}

.ui-kit__icons-page__content {
    display     : flex;
    flex-wrap   : wrap;
}
