// *******************************************
// *******************************************

    // Select Input Component

// *******************************************
// *******************************************

// @vars
$select-drop-icon-dimension : 16;
$select-edge-space          : 10;

.select {
    border          : 0 !important;
    outline         : 1px solid $gray-300;
    outline-offset  : -1px;
}

// select input scaffolding
.select__input-container {
    position : relative;
    flex     : 1 0 auto;
    width    : 100%;
}

.select__multi-input-container {
    max-height: 115px;
    width : 100%;
}

// select input element
// 1. index over drop-icon
// 2. offset position and width of drop-icon
.select__select {
    position           : relative;
    z-index            : $stack-top; // 1.
    width              : 100%;
    padding-right      : rem-calc($select-drop-icon-dimension * 2); // 2.
    -webkit-appearance : none;
    -moz-appearance    : none;
    appearance         : none;
}

// drop icon
// 1. index under native select input
.select__drop-icon {
    position    : absolute;
    top         : 50%;
    right       : rem-calc($select-edge-space);
    z-index     : $stack-bot; // 1.
    width       : rem-calc($select-drop-icon-dimension);
    height      : rem-calc($select-drop-icon-dimension);
    margin      : rem-calc((-$select-drop-icon-dimension / 2) 0);
    line-height : 0;
    fill        : $gray-800;
}
