// *******************************************
// *******************************************

    // Price component

// *******************************************
// *******************************************

sup,
sub {
    position       : relative;
    top            : -.4em;
    font-size      : 60%;
    vertical-align : baseline;
}

sub {
    top : .4em;
}
