// *******************************************
// *******************************************

    // Absolutely center an element

// *******************************************
// *******************************************

/// Absolutely position element
/// @param {position} $center, $middle, $vertical-middle
@mixin absolute-center($position: middle, $width: inherit) {

    @if $position == center {
        position      : absolute;
            left      : 50%;
            transform : translateX(-50%);
        width         : $width;
    }

    @if $position == middle {
        position      : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
        width         : $width;
    }

    @if $position == vertical-middle {
        position      : absolute;
            top       : 50%;
            transform : translateY(-50%);
        width         : $width;
    }

}
