// *******************************************
// *******************************************

    // Clear containers with floated elements

// *******************************************
// *******************************************

@mixin clearfix {

    &::after {
        clear   : both;
        content : "";
        display : table;
    }

}
