// *******************************************
// *******************************************

    // Forgot Password Page layout component

// *******************************************
// *******************************************

// @vars
$white              : $white; // settings/colors

.forgot-container {
    width: rem-calc(300);
    color: $white;
}
