// *******************************************
// *******************************************

    // Reset Password Page layout component

// *******************************************
// *******************************************

// @vars
$white              : $white; // settings/colors

.reset-container {
    width: rem-calc(300);
    color: $white;
}
